.label-text {
    font-size: 1rem;
    color: black;
    /* font-weight: 700; */
    position: relative;
    top: 0.75rem;
    left: 2%;
    margin: 0 0 0 7px;
    padding: 0.3px 5px;
    background-color: white;
    width: fit-content;
}