* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.add-res-page {
    display: flex;
    min-height: 70vh;
    background: url("../../assets/Background/Bg_8.jpg");
    background-position: fixed;
    background-size: 80%;
}

.add-first-part {
    background-color: transparent;
}

.add-res-content {
    position: relative;
    display: flex;
    width: 65%;
    height: auto;
    margin-top: 20px;
    display: relative;
}

.add-footer {
    align-items: center;
    background-color: white;
    padding: 1rem;
    position: fixed;
    box-shadow: 20%;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-left {
    position: sticky;
    top: 80px;
    z-index: 10;
    width: 30%;
    padding: 8px;
    height: fit-content;
}

.add-left-2 {
    position: sticky;
    top: 80px;
    z-index: 10;
    width: 30%;
    padding: 5px;
    height: fit-content;
}

.add-left-first {
    height: auto;
    color: #a31e1e;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-left-first,
.add-left-second {
    display: flex;
    flex-direction: column;
}

.add-left-first .flex,
.add-left-second .flex {
    margin-bottom: 0.5rem;
}

.add-left-second {
    margin-top: 5%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(77, 76, 76, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-left-text {
    font-size: 16px;
    font-weight: 500;
}

.add-left-sub-text {
    font-size: 13px;
}

.add-right {
    width: 70%;
    height: auto;
    margin: 2%;
    margin-bottom: 100px;
}

.add-right-first,
.add-right-second,
.add-right-third,
.add-right-forth,
.add-right-fifth,
.add-right-sixth,
.add-right-seven,
.add-right-eight {
    margin-top: 5%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(77, 76, 76, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.res-label-text {
    font-size: 1.1rem;
    color: black;
    /* font-weight: 700; */
    position: relative;
    top: 0.75rem;
    left: 2%;
    margin: 0 0 0 7px;
    padding: 0.3px 5px;
    background-color: white;
    width: fit-content;
}

.res-pincode-label-text {
    font-size: 1.1rem;
    color: black;
    position: relative;
    top: 0.80rem;
    left: 2%;
    margin: 0 0 0 7px;
    padding: 0.3px 5px;
    background-color: white;
    width: fit-content;
}

.res-input-field {
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    color: #777;
    padding: 8px 12px;
    line-height: 1.4;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.res-input-field:focus,
.res-pincode-label-text:focus {
    border-color: #4c51bf;
    box-shadow: 0 0 0 2px rgba(76, 81, 191, 0.25);
}

#menuimg,
#resimg,
#foodimg,
#deliverymenuimg,
#panimg,
#gstimg,
#fssaiimg {
    display: none;
}

.add-menu-first,
.add-res-first,
.add-food-first {
    margin-top: 5%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(77, 76, 76, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 30px 40px 30px;
}

.menu-img,
.res-img,
.food-img {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 30px;
    border: 2px dotted black;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.pan-img {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.uploaded-div {
    position: relative;
    margin: 10px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: small dotted orange;
}

.uploaded-div-pan {
    position: absolute;
    width: full;
    height: full;
    margin-top: 80px;
    border-radius: 10px;
    border: small dotted orange;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.uploaded-btn {
    position: absolute;
    top: 4px;
    right: 8px;
    color: red;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}

.uploaded-btn-pan {
    position: absolute;
    color: red;
    margin-left: 10px;
    margin-top: 2px;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-warrper,
.res-warrper,
.food-warrper {
    justify-content: center;
    align-content: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: medium dotted orange;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(249, 231, 199);
    padding: 8px;
    margin-right: 6px;
}

.pan-warrper {
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: medium dotted orange;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(249, 231, 199);
    padding: 4px;
    margin-top: 10px;
    margin-right: 6px;
}

.sub-menu-img,
.sub-res-img,
.sub-food-img {
    text-align: center;
    justify-content: center;
}

.sub-pan-img {
    text-align: center;
    justify-content: center;
    display: flex;
}