* {
    padding: 0;
    margin: 0;
    color: black;
}

.dashboard-page {
    align-content: center;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    /* background: url("../../assets/Background/Bg_11.jpg"); */
    /* background-size: 50%; */
    /* background-blend-mode: lighten; */
}

.profile-part {
    background-color: #fff;
    width: 50%;
    height: 7rem;
    box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    margin: 20px;
}

.profile-part:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-img {
    flex: none;
    width: 100%;
    height: auto;
    scroll-snap-align: start;
}

.profile-part img {
    height: 6rem;
    width: 6rem;
    border-radius: 10px;
    margin-left: 10px;
}

.dash-card-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.card-head {
    font-size: 1.2rem;
    font-family: sans-serif;
}

.card-para {
    font-family: sans-serif;
    font-size: 1rem;
}

.user-img {
    position: relative;
    width: 10%;
    height: 35%;
    margin-left: 20px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
}

#user-name {
    color: white;
}

.btn-profile-txt {
    width: auto;
    color: black;
    font-weight: 500;
    right: 2%;
    background-color: #ff9800;
    padding: 2px 2px;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    justify-content: center;
}

.btn-profile-txt:hover {
    background-color: #fb8c00;
}

.res-part {
    background-color: white;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-title {
    width: 100%;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.track-request {
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.track-sub-request {
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(206, 202, 202);
}

.main-track-1 {
    height: auto;
    width: 70%;
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid rgb(206, 202, 202);
}

.main-track {
    height: auto;
    width: 100%;
    display: flex;
    padding: 20px 10px 20px 10px;
    align-items: center;
    /* border: 1px solid rgb(206, 202, 202); */
    border-radius: 20px;
}

.track-part {
    width: 16.6667%;
    display: flex;
    /* border: 1px solid rgb(206, 202, 202); */
}

.track-content {
    width: 1/6;
    align-items: center;
    border: 1px solid rgb(206, 202, 202);
}

.circle {
    flex-direction: column;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid rgb(189, 187, 187);
}

.line {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 65px;
    height: 0px;
    border: 3px solid rgb(189, 187, 187);
}

.line-white {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 65px;
    height: 0px;
    border: 3px solid #ffff;
}

.track-button {
    padding: 8px;
    text-align: center;
    width: 90%;
    background-color: #ff8c00;
    box-shadow: 0 4px 46px 0 rgba(0, 0, 0, 0.25);
    color: white;
    margin: 8px;
    border-radius: 10px;
}

.track-button:hover {
    background-color: #e88710;
    box-shadow: 0 4px 46px 0 rgba(0, 0, 0, 0.4);
}

.track-img {
    width: 100%;
    height: 200px;
}

.img-first-content {
    padding: 6px;
    font-size: large;
}

.img-second-content {
    padding: 6px;
    color: green;
}

.img-second1-content {
    padding: 6px;
    color: red;
}

.img-container {
    width: 100%;
    background-color: #fea435;
    box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    height: 15rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}