/* <-------- Profile photo CSS --------> */
.update-profile-page {
  display: flex;
  min-height: 70vh;
  background: url("../../assets/Background/Bg_11.jpg");
  background-size: 40%;
}

#profile-photo {
  display: none;
}

.user-profile-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-photo-input {
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-photo-wrapper {
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
  /* background-image: url("../../assets/Devlopers/User.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
}


.profile-photo-wrapper .user-profile-image {
  object-fit: contain;
  width: fit-content;
  height: fit-content;
}

.profile-photo-wrapper .fa-user-circle {
  font-size: 9.3rem;
  /* 150px = 9.3 rem*/
}

.upload-img-div {
  height: inherit;

  border-radius: 50%;

  background: #898181;
  opacity: 0.9;

  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.5s;
  transform: translateY(100%);
  visibility: hidden;
}

.profile-photo-wrapper:hover .upload-img-div {
  visibility: visible;
  transform: translateY(0);
}

#user-profile-cancel-btn {
  min-width: 111px;
}

/* CSS for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .user-profile-photo-input {
    width: 100px;
    /* Adjust width for smaller screens */
    height: 100px;
    /* Adjust height for smaller screens */
  }

  .profile-photo-wrapper {
    width: 100px;
    /* Adjust width for smaller screens */
    height: 100px;
    /* Adjust height for smaller screens */
  }

  .profile-photo-wrapper .fa-user-circle {
    font-size: 6.2rem;
    /* Adjust icon size for smaller screens */
  }
}

/* CSS for screens smaller than 576px */
@media screen and (max-width: 576px) {
  .user-profile-photo-input {
    width: 80px;
    /* Further adjust width for smaller screens */
    height: 80px;
    /* Further adjust height for smaller screens */
  }

  .profile-photo-wrapper {
    width: 80px;
    /* Further adjust width for smaller screens */
    height: 80px;
    /* Further adjust height for smaller screens */
  }

  .profile-photo-wrapper .fa-user-circle {
    font-size: 5rem;
    /* Further adjust icon size for smaller screens */
  }
}